# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
Config.xcconfig

# macOS
.DS_Store
*.swp

# CocoaPods / SPM
Pods/
.build/
